      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumb">
              <li><a href="/">Home</a> <span class="divider"></span></li>
              <li class="active">Collections</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="cat_header">
            <h2>Collections</h2>
          </div>
        </div>
      </div>

      <div class="row box collection" ng-repeat="collection in collections">
        <div class="col-md-5" ng-if="$even">
          <img alt="{{ collection.title }}" ng-src="{{ collection.image.url.http }}" />
        </div>
        <div class="col-md-7">
          <a href="/collection/{{ collection.slug }}" class="cat_header">
            <h2>{{ collection.title }}</h2>
          </a>
          <p>{{ collection.description }}</p>
        </div>
        <div class="col-md-5" ng-if="$odd">
          <img alt="{{ collection.title }}" ng-src="{{ collection.image.url.http }}" />
        </div>
      </div>