[project]
	description = AngularJS storefront
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shinu Suresh (shinusuresh)
[access "refs/for/refs/*"]
	read = group user/Shinu Suresh (shinusuresh)
	push = group user/Shinu Suresh (shinusuresh)
	label-Code-Review = -2..+2 group user/Shinu Suresh (shinusuresh)
	label-Verified = -1..+1 group user/Shinu Suresh (shinusuresh)
	rebase = group user/Shinu Suresh (shinusuresh)
	removeReviewer = group user/Shinu Suresh (shinusuresh)
	submit = group user/Shinu Suresh (shinusuresh)
[access "refs/heads/*"]
	read = group user/Shinu Suresh (shinusuresh)
	create = group user/Shinu Suresh (shinusuresh)
	push = +force group user/Shinu Suresh (shinusuresh)
	pushMerge = group user/Shinu Suresh (shinusuresh)
[access "refs/tags/*"]
	push = group user/Shinu Suresh (shinusuresh)
	push = +force group user/Shinu Suresh (shinusuresh)
